/* General Css Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* css3 */
}
.container{
    width: 80%;
    margin: auto;
}
body{
    font-family: 'Varela Round', sans-serif;
}
.clear{
    clear: both;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
h1, h2, h3, h4, h5, h6{
    font-family: montserrat,sans-serif;
}
button{
    font-family: inherit;
}
.hover-opacity{
    transition: opacity 0.5s;
}
.hover-opacity:hover{
    opacity: 0.8;
}
.section-header{
    text-align: center;
    margin-bottom: 20px;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.line{
    display: block;
    width: 60px;
    height: 5px;
    background-color: #6195ff;
    margin: 0 auto 70px;
    border-radius: 30px;
}
.pd-y{
    padding: 120px 0;
}
.ltr-effect, .tb-effect{
    position: relative;
}
.ltr-effect::after, 
.tb-effect::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: -1;
    transition: width 0.5s;
}
.ltr-effect::after{
    width: 0;
}
.ltr-effect:hover::after{
    width: 100%;
}

.tb-effect::after{
    height: 0;
    transition: height 0.5s;
}
.tb-effect:hover::after{
    height: 100%;
}





/* header */
.header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header .logo{
    width: 30%;
    float: left;
}
.header .logo img{
    width: 34%;
}

.header .nav{
    width: 70%;
    float: left;
    list-style: none;
    text-align: right;
}
.header .nav > li{
    display: inline-block;
}
.header .nav > li > a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 17px 14px;
    font-size: 14px;
}
.header .nav > li > a.active::after,
.header .nav > li > a::after {
    content: "";
    display: block;
    height: 3px;
    margin-top: 2px;
    background-color: #6195ff;
    transition: width .5s;
}

.header .nav > li > a.active::after{
    width: 100%;
}
.header .nav > li > a::after{
    width: 0;
}
.header .nav > li > a:hover::after{
    width: 100%;
}
.dropdown {
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: #6195ff;
    width: 150px;
    text-align: center;
    list-style: none;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ;
    border-radius: 2px;
}
.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}


/* home section */

.home{
    height: 100vh;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}
.home-content{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.home .home-title{
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}
.home .home-desc{
    margin: 20px 0;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.home .btn{
    min-width: 155px;
    padding: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    border: 0;
}
.home .btn-start{
    margin-right: 10px;
    background-color: #fff;
}
.home .btn-learn{
    background-color: #6195ff;
    color: #fff;
}


/* about-section */

.about-content{
    overflow: hidden;
}
.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}
.about-item:hover .about-item-title{
    color: #fff;
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
    color: #6195ff;
    margin-bottom: 14px;
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 14px;
    transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.6;
    margin-bottom: 14px;
    color: #999;
}
.about-item-link{
    text-decoration: none;
    color: #6195ff;
    text-transform: capitalize;
}

/* portfolio-section */
.portfolio{
    background-color: #f9f9f9;
}
.portfolio-content{
    overflow: hidden;
}
.portfolio-item{
    width: 33.33%;
    float: left;
    margin-bottom: 0px;
    position: relative;
    padding: 20px;
}
.portfolio-item .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s;
}
.portfolio-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
}

.layer-content .layer-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
}
.layer-content .category{
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.4s;
    transition-delay: 0.2s;
}
.layer-content-title{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.4s;
    transition-delay: 0.3s;
}
.layer-content a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.fs;
    transition-delay: 0.4s;
}
.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a {
    top: 0;
    opacity: 1;
}

.layer-content a i{
    line-height: 40px;
}

.portfolio-item.mg{
    margin: 0 5%;
}
.portfolio-item img{
    width: 100%;
}


/* offer section */

.offer-content{
    overflow: hidden;
}
.offer-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
    
}
.offer-item.mg{
    margin: 0 5%;
}
.offer-item .icon {
    position: absolute;
    top: 35px;
    left: 15px;
    color: #6195ff;
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}
.offer-item-desc{
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #999;
    line-height: 1.6;
}
.offer-item:hover .offer-item-title {
    color: #fff;
}

/* services-section */
.service{
    background-color: #f9f9f9;
}
.service-item{
    width: 50%;
    float: left;
}
.service-item .section-header {
    text-align: left;
}
.service-item .section-header .line {
    margin: 0 0 40px 0;
}
.service-item-desc{
    padding-right: 20px;
    color: #999;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 20px;
}
.service-list{
    list-style: none;
}
.service-list li {
    margin-bottom: 5px;
    color: #999;
}
.service-list li i {
    color: #6195ff;
    border: 1px solid #6195ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
}
.service-item-img {
    width: 100%;
}
.service-pollets{
    list-style: none;
    text-align: center;
}
.service-pollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    margin: 10px 5px;
    border-radius: 50%;
}
.service-pollets li.active{
    background-color: #6195ff;
}
.service-pollets li:hover{
    background-color: #6195ff;
}

/* Numbers-section */
.numbers{
    position: relative;
    background-image: url(../images/background/background2.webp);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}
.numbers-items{
    overflow: hidden;
    padding: 100px 0;
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon{
    color: #6195ff;
    margin-bottom: 15px;
}
.number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.number-item-text{
    color: #fff;
}

/* pricing-section */

.pricing-plans{
    overflow: hidden;
}
.pricing-item{
    float: left;
    width: 30%;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.pricing-item.mg{
    margin: 0 5%;
}
.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: #999;
    transition: color 0.5s;
}
.pricing-item-permonth{
    width: 130px;
    height: 130px;
    padding: 20px 0;
    margin: 20px auto;
    border: 2px solid #6195ff;
    border-radius: 50%;
    transition: color 0.5s;
}
.pricing-item-permonth .dollar{
    font-size: 50px;
}
.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.pricing-list{
    list-style: none;
}
.pricing-list li{
    color: #999;
    line-height: 1.9;
}
.pricing-item-perchase{
    background: none;
    border: 0;
    display: block;
    width: 140px;
    border: 2px solid #6195ff;
    padding: 10px;
    margin: 15px auto 0;
    color: #6195ff;
}

.pricing-item:hover .pricing-item-permonth{
    color: #fff;
}
.pricing-item:hover .pricing-item-text{
    color: #6195ff;
}


/* textimonail-section */
.textimonail{
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-attachment: fixed;
    height: 400px;
}
.testimonail-content{
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}
.testimonail-item{
    width: 50%;
    float: left;
    color: #fff;
}
.testimonail-item .testimonail-toplayer{
    padding: 10px 2px 40px 100px;
    position: relative;
}
.testimonail-item .testimonail-toplayer img{
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 50%;
}
.testimonail-item .testimonail-toplayer h2{
    margin: 5px 0;
}
.testimonail-item .testimonail-toplayer span{
    color: #6195ff;
}
/* Team-Section */
.team-content{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    padding: 40px 10px;
    text-align: center;
}
.team-item.mg{
    margin: 0 5%;
}
.team-item .team-img {
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
}

.team-item .team-img img{
    width: 100%;
}
.team-item .team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-item .team-info-text{
    color: #999;
    text-transform: uppercase;
    transition: color 0.5s;
}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-item.tb-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color: #fff;
}
.team-item:hover .team-info-text{
    color: #6195ff;
}



/* blog-section */
.blog{
    background-color: #f8f8f8;
}
.blog-content{
    overflow: hidden;
}
.blog-item{
    width: 30%;
    float: left;
    background-color: #fff;
}
.blog-item.mg{
    margin: 0 5%;
}
.blog-item-img img{
    width: 100%;
}
.blog-info{
    padding: 20px;
}
.blog-list{
    list-style: none;
    margin: 10px 0;
}
.blog-list li{
    display: inline-block;
    margin: 0 5px;
}
.blog-list li i{
    color: #6195ff;
}
.blog-title{
    font-weight: bold;
    margin: 20px 0;
}
.blog-desc{
    color: #999;
    margin-bottom: 10px;
    line-height: 1.4;
}
.blog-link{
    color: #6195ff;
    text-decoration: none;
}
/* Contact-Section */
.contact-content {
    margin-bottom: 20px;
}
.contact-info {
    overflow: hidden;
    margin-bottom: 30px;
}
.contact-item {
    float: left;
    width: 33.33%;
    text-align: center;
}
.contact-item i {
    color: #6195ff;
    font-size: 40px;
    margin-bottom: 15px;
}
.contact-item h3 {
    text-transform: capitalize;
    margin-bottom: 15px;
}
.contact-item span {
    color: #999;
}
.contact-form {
    text-align: center;
}
.top-form input,
.botton-form input{
    padding: 8px 10px;
    background: #f8f8f8;
    border: none;
}
.top-form input {
    width: 300px;
}
.botton-form input{
    width: 604px;
}
.botton-form {
    margin-top: 16px;
}
.botton-form textarea {
    margin: 16px auto;
    display: block;
    width: 604px;
    background-color: #f8f8f8;
    border: none;
    padding: 10px;
}
.botton-form button {
    margin: 20px 0;
    width: 150px;
    height: 50px;
    background: #6195ff;
    border: none;
    border-radius: 3px;
    color: #fff;
}






/* Footer-Section */
.footer{
    background-color: #1c1d21;
    text-align: center;
    padding: 60px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    display: inline-block;
}
.footer-links li a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 4px;
}
.footer-links li a i{
    line-height: 50px;
}
.footer .copyright{
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
}











